<h1>Stores</h1>


  <% @stores.each do |store| %>
    <div class="store">
      <ul>
        <li>Name: <%= store.name %></li>
        <li>City: <%= store.city %></li>
        <li>Distance: <%= store.distance %></li>
        <li>Phone Number: <%= store.phone %></li>
        <li>Store Type <%= store.type %></li>
      </ul>
  </div>
